.about {
  padding: 3rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 50%;

  .about-image {
    position: relative;
    img {
      width: auto;
      height: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 15px;
    }
  }
  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    h2 {
      font-size: var(--big-font-size);
      color: var(--title-color);
    }
    small {
      margin-bottom: var(--mb-1-5);
      color: var(--text-color);
    }
    p {
      font-size: var(--normal-font-size) v;
      color: var(--text-color);
      margin-bottom: var(--mb-1-5);
    }
    .about-details-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 3rem;
      color: var(--text-color);
      margin-bottom: var(--mb-1-5);
      .about-details {
        text-align: center;
        .num {
          font-size: var(--h3-font-size);
          color: var(--title-color);
          font-weight: var(--font-medium);
        }
        .text {
          text-align: center;
          font-size: var(--normal-font-size);
        }
      }
    }
    .about-btn {
      background-color: var(--first-color);
      color: white;
      text-decoration: none;
      width: 43%;
      .icon {
        margin-left: 0.5rem;
      }
    }
  }
}
@media only screen and(max-width:768px) and(min-width:717px) {
  .about {
    height: auto;
    padding: rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    top: 0%;
    position: relative;
    .about-image {
      position: relative;
      img {
        width: 70%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
      }
    }
    .about-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 3rem;
      h2 {
        font-size: var(--big-font-size);
        color: var(--title-color);
      }
      small {
        margin-bottom: var(--mb-1-5);
        color: var(--text-color);
      }
      p {
        font-size: var(--normal-font-size);
        color: var(--text-color);
        margin-bottom: var(--mb-1-5);
      }
      .about-details-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
        color: var(--text-color);
        .about-details {
          text-align: center;
          .num {
            font-size: var(--h3-font-size);
            color: var(--title-color);
            font-weight: var(--font-medium);
          }
          .text {
            text-align: center;
            font-size: var(--normal-font-size);
          }
        }
      }
      .about-btn {
        background-color: var(--first-color);
        color: white;
        text-decoration: none;
        width: 43%;
        .icon {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
@media only screen and(max-width:716px) and(min-width:665px) {
  .about {
    height: auto;
    padding: rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    top: 0%;
    position: relative;
    .about-image {
      position: relative;
      img {
        width: 70%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
      }
    }
    .about-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 3rem;
      h2 {
        font-size: var(--big-font-size);
        color: var(--title-color);
      }
      small {
        margin-bottom: var(--mb-1-5);
        color: var(--text-color);
      }
      p {
        font-size: var(--normal-font-size);
        color: var(--text-color);
        margin-bottom: var(--mb-1-5);
      }
      .about-details-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
        color: var(--text-color);
        .about-details {
          text-align: center;
          .num {
            font-size: var(--h3-font-size);
            color: var(--title-color);
            font-weight: var(--font-medium);
          }
          .text {
            text-align: center;
            font-size: var(--normal-font-size);
          }
        }
      }
      .about-btn {
        background-color: var(--first-color);
        color: white;
        text-decoration: none;
        width: 43%;
        .icon {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
@media only screen and(max-width:664px) and(min-width:426px) {
  .about {
    height: auto;
    padding: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    top: 0%;
    position: relative;
    .about-image {
      position: relative;
      img {
        width: 70%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
      }
    }
    .about-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;
      h2 {
        font-size: var(--big-font-size);
        color: var(--title-color);
      }
      small {
        margin-bottom: var(--mb-1-5);
        color: var(--text-color);
      }
      p {
        font-size: var(--normal-font-size);
        color: var(--text-color);
        margin-bottom: var(--mb-1-5);
      }
      .about-details-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
        color: var(--text-color);
        .about-details {
          text-align: center;
          .num {
            font-size: var(--h3-font-size);
            color: var(--title-color);
            font-weight: var(--font-medium);
          }
          .text {
            text-align: center;
            font-size: var(--normal-font-size);
          }
        }
      }
      .about-btn {
        background-color: var(--first-color);
        color: white;
        text-decoration: none;
        width: 43%;
        .icon {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
@media only screen and(max-width:425px) and(min-width:375px) {
  .about {
    height: auto;
    padding: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    top: 0%;
    position: relative;
    .about-image {
      position: relative;
      img {
        width: 100%;
        height: auto;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        border-radius: 15px;
        display: block;
      }
    }
    .about-text {
      margin-top: 10rem;
      width: 100%;
      height: auto;
      display: block;
      padding: 0rem;
      transform: translateY(-100px);
      .about-details-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        color: var(--text-color);
        margin-bottom: var(--mb-2);
      }
      .about-btn {
        background-color: var(--first-color);
        color: white;
        text-decoration: none;
        width: 65%;
        .icon {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
@media only screen and(max-width:374px) and(min-width:321px) {
  .about {
    height: auto;
    padding: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    top: 0%;
    position: relative;
    .about-image {
      position: relative;
      img {
        width: 100%;
        height: auto;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        border-radius: 15px;
        display: block;
      }
    }
    .about-text {
      margin-top: 10rem;
      width: 100%;
      height: auto;
      display: block;
      padding: 0rem;
      transform: translateY(-100px);
      .about-details-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        color: var(--text-color);
        margin-bottom: var(--mb-2);
      }
      .about-btn {
        background-color: var(--first-color);
        color: white;
        text-decoration: none;
        width: 65%;
        .icon {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
@media only screen and(max-width:320px) {
  .about {
    height: auto;
    padding: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    top: 0%;
    position: relative;
    .about-image {
      position: relative;
      img {
        width: 100%;
        height: auto;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        border-radius: 15px;
        display: block;
      }
    }
    .about-text {
      margin-top: 10rem;
      width: 100%;
      height: auto;
      display: block;
      padding: 0rem;
      transform: translateY(-100px);
      .about-details-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        color: var(--text-color);
        margin-bottom: var(--mb-2);
      }
      .about-btn {
        background-color: var(--first-color);
        color: white;
        text-decoration: none;
        width: 65%;
        .icon {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
