@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root .light {
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --hue-color: 250;
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --card: #fff;
  --card-color: hsl(var(--hue-color), 69%, 61%);
  --footer: hsl(var(--hue-color), 69%, 61%);
  --testemonial: rgb(255, 255, 255);
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

:root .dark {
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --hue-color: 250;
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: white;
  --text-color: rgb(167, 166, 166);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: rgb(1, 1, 27);
  --card: rgb(12, 12, 44);
  --card-color: rgb(12, 12, 44);
  --footer: rgb(0, 0, 19);
  --testemonial: rgb(12, 12, 44);
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: var(--container-color);
  width: 100%;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--container-color);
  position: relative;
}

.wrapper {
  width: 100%;
  height: auto;
  padding: 1rem 3rem;
  position: relative;
  top: 10vh;
  position: absolute;
  background-color: var(--container-color);
}

li {
  list-style-type: none;
}

.btn {
  padding: 0.8rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

section {
  min-height: 90vh;
  position: relative;
  display: block;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  section {
    height: 90vh;
  }
}

input,
textarea {
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #dbdbdb;
  margin-bottom: var(--mb-0-75);
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

textarea {
  font-size: 1rem;
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  max-width: 1400px;
  z-index: 100;
  background-color: var(--container-color);
  height: auto;
  padding: 0 3rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.11);
}

.nav-wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  color: var(--title-color);
}

.nav-wrapper nav .nav-toggle {
  display: none;
}

.nav-wrapper nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.nav-wrapper nav .nav-links button {
  background: none;
  outline: none;
  border: none;
}

.nav-wrapper nav li {
  font-weight: 500;
}

.nav-wrapper nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--normal-font-size);
  outline: none;
  border: none;
  color: var(--title-color);
}

.nav-wrapper nav .link:hover {
  color: var(--first-color);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav-wrapper nav .nav-links {
    display: none;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  .nav-wrapper nav .nav-toggle {
    display: block;
    height: 2rem;
    width: 2rem;
    padding: 0;
    position: relative;
  }
  .nav-wrapper nav .nav-toggle button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
  }
  .nav-wrapper nav .nav-toggle button .icon {
    height: 2rem;
    width: 1.8rem;
  }
  .nav-wrapper nav .collapse {
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    position: absolute;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    top: 5rem;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--container-color);
    width: 100%;
    height: 93vh;
    position: absolute;
    text-align: center;
  }
  .nav-wrapper nav .collapse .link {
    font-size: 2rem;
    margin-bottom: var(--mb-2);
  }
}

.hero {
  position: relative;
  height: calc(90vh - 10vh);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 35% 50%;
      grid-template-columns: 15% 35% 50%;
}

.hero .hero-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-icons .icon {
  color: var(--first-color);
  margin-bottom: var(--mb-1);
  font-size: var(--h3-font-size);
}

.hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0;
  height: 40%;
}

.hero .hero-text h1 {
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.hero .hero-text small {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-0-75);
}

.hero .hero-text p {
  font-size: var(--small-font-size);
  color: var(--text-color);
  width: 60%;
  margin-bottom: var(--mb-2);
  line-height: 1.3rem;
}

.hero .hero-text .contact-me {
  background-color: var(--first-color);
  font-size: var(--normal-font-size);
  text-decoration: none;
  width: 45%;
  text-align: center;
  color: #fff;
}

.hero .hero-text .contact-me .icon {
  margin-left: 0.5rem;
}

.hero .hero-image {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-image .hero-image-container {
  position: relative;
  height: 350px;
  width: 350px;
  border-radius: 47% 53% 49% 51% / 36% 30% 70% 64%;
  background: var(--first-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.hero .hero-image .hero-image-container img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  height: 100%;
}

@media only screen and (max-width: 768px) and (min-width: 717px) {
  .hero {
    margin-top: 5rem;
    position: relative;
    height: auto;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 27% 73%;
        grid-template-columns: 27% 73%;
    margin-bottom: 8rem;
  }
  .hero .hero-text {
    grid-row-start: 2/3;
    grid-column-start: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 670px;
  }
  .hero .hero-text h1 {
    font-size: var(--big-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  .hero .hero-text small {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-0-75);
  }
  .hero .hero-text p {
    font-size: var(--small-font-size);
    color: var(--text-color);
    width: 100%;
    margin-bottom: var(--mb-2);
    line-height: 1.3rem;
  }
  .hero .hero-image {
    height: 400px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .hero .hero-image .hero-image-container {
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 47% 53% 49% 51% / 36% 30% 70% 64%;
    background: var(--first-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
}

@media only screen and (max-width: 716px) and (min-width: 665px) {
  .hero {
    margin-top: 5rem;
    position: relative;
    height: auto;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 27% 73%;
        grid-template-columns: 27% 73%;
    margin-bottom: 8rem;
  }
  .hero .hero-text {
    grid-row-start: 2/3;
    grid-column-start: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 500px;
  }
  .hero .hero-text h1 {
    font-size: var(--big-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  .hero .hero-text small {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-0-75);
  }
  .hero .hero-text p {
    font-size: var(--small-font-size);
    color: var(--text-color);
    width: 100%;
    margin-bottom: var(--mb-2);
    line-height: 1.3rem;
  }
  .hero .hero-image {
    height: 400px;
    width: auto;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .hero .hero-image .hero-image-container {
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 47% 53% 49% 51% / 36% 30% 70% 64%;
    background: var(--first-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
  .hero {
    margin-top: 5rem;
    position: relative;
    height: auto;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 27% 73%;
        grid-template-columns: 27% 73%;
    margin-bottom: 8rem;
  }
  .hero .hero-text {
    grid-row-start: 2/3;
    grid-column-start: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 300px;
  }
  .hero .hero-text h1 {
    font-size: var(--big-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  .hero .hero-text small {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-0-75);
  }
  .hero .hero-text p {
    font-size: var(--small-font-size);
    color: var(--text-color);
    width: 100%;
    margin-bottom: var(--mb-2);
    line-height: 1.3rem;
  }
  .hero .hero-text .contact-me {
    width: 80%;
  }
  .hero .hero-image {
    height: 200px;
    width: auto;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: var(--mb-2);
  }
  .hero .hero-image .hero-image-container {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 47% 53% 49% 51% / 36% 30% 70% 64%;
    background: var(--first-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
}

@media only screen and (max-width: 320px) {
  .hero {
    margin-top: 5rem;
    position: relative;
    height: auto;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 27% 73%;
        grid-template-columns: 27% 73%;
    margin-bottom: 8rem;
  }
  .hero .hero-text {
    grid-row-start: 2/3;
    grid-column-start: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 300px;
  }
  .hero .hero-text h1 {
    font-size: var(--big-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  .hero .hero-text small {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-0-75);
  }
  .hero .hero-text p {
    font-size: var(--small-font-size);
    color: var(--text-color);
    width: 100%;
    margin-bottom: var(--mb-2);
    line-height: 1.3rem;
  }
  .hero .hero-text .contact-me {
    width: 80%;
  }
  .hero .hero-image {
    height: 200px;
    width: auto;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/2;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: var(--mb-2);
  }
  .hero .hero-image .hero-image-container {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 47% 53% 49% 51% / 36% 30% 70% 64%;
    background: var(--first-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
}

.about {
  padding: 3rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  top: 50%;
}

.about .about-image {
  position: relative;
}

.about .about-image img {
  width: auto;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
}

.about .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3rem;
}

.about .about-text h2 {
  font-size: var(--big-font-size);
  color: var(--title-color);
}

.about .about-text small {
  margin-bottom: var(--mb-1-5);
  color: var(--text-color);
}

.about .about-text p {
  font-size: var(--normal-font-size) v;
  color: var(--text-color);
  margin-bottom: var(--mb-1-5);
}

.about .about-text .about-details-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  color: var(--text-color);
  margin-bottom: var(--mb-1-5);
}

.about .about-text .about-details-container .about-details {
  text-align: center;
}

.about .about-text .about-details-container .about-details .num {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.about .about-text .about-details-container .about-details .text {
  text-align: center;
  font-size: var(--normal-font-size);
}

.about .about-text .about-btn {
  background-color: var(--first-color);
  color: white;
  text-decoration: none;
  width: 43%;
}

.about .about-text .about-btn .icon {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 768px) and (min-width: 717px) {
  .about {
    height: auto;
    padding: rem 0rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    top: 0%;
    position: relative;
  }
  .about .about-image {
    position: relative;
  }
  .about .about-image img {
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 15px;
  }
  .about .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 3rem;
  }
  .about .about-text h2 {
    font-size: var(--big-font-size);
    color: var(--title-color);
  }
  .about .about-text small {
    margin-bottom: var(--mb-1-5);
    color: var(--text-color);
  }
  .about .about-text p {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-1-5);
  }
  .about .about-text .about-details-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    color: var(--text-color);
  }
  .about .about-text .about-details-container .about-details {
    text-align: center;
  }
  .about .about-text .about-details-container .about-details .num {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  .about .about-text .about-details-container .about-details .text {
    text-align: center;
    font-size: var(--normal-font-size);
  }
  .about .about-text .about-btn {
    background-color: var(--first-color);
    color: white;
    text-decoration: none;
    width: 43%;
  }
  .about .about-text .about-btn .icon {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 716px) and (min-width: 665px) {
  .about {
    height: auto;
    padding: rem 0rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    top: 0%;
    position: relative;
  }
  .about .about-image {
    position: relative;
  }
  .about .about-image img {
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 15px;
  }
  .about .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 3rem;
  }
  .about .about-text h2 {
    font-size: var(--big-font-size);
    color: var(--title-color);
  }
  .about .about-text small {
    margin-bottom: var(--mb-1-5);
    color: var(--text-color);
  }
  .about .about-text p {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-1-5);
  }
  .about .about-text .about-details-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    color: var(--text-color);
  }
  .about .about-text .about-details-container .about-details {
    text-align: center;
  }
  .about .about-text .about-details-container .about-details .num {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  .about .about-text .about-details-container .about-details .text {
    text-align: center;
    font-size: var(--normal-font-size);
  }
  .about .about-text .about-btn {
    background-color: var(--first-color);
    color: white;
    text-decoration: none;
    width: 43%;
  }
  .about .about-text .about-btn .icon {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 664px) and (min-width: 426px) {
  .about {
    height: auto;
    padding: 0rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    top: 0%;
    position: relative;
  }
  .about .about-image {
    position: relative;
  }
  .about .about-image img {
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 15px;
  }
  .about .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1rem;
  }
  .about .about-text h2 {
    font-size: var(--big-font-size);
    color: var(--title-color);
  }
  .about .about-text small {
    margin-bottom: var(--mb-1-5);
    color: var(--text-color);
  }
  .about .about-text p {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-1-5);
  }
  .about .about-text .about-details-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    color: var(--text-color);
  }
  .about .about-text .about-details-container .about-details {
    text-align: center;
  }
  .about .about-text .about-details-container .about-details .num {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  .about .about-text .about-details-container .about-details .text {
    text-align: center;
    font-size: var(--normal-font-size);
  }
  .about .about-text .about-btn {
    background-color: var(--first-color);
    color: white;
    text-decoration: none;
    width: 43%;
  }
  .about .about-text .about-btn .icon {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
  .about {
    height: auto;
    padding: 0rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    top: 0%;
    position: relative;
  }
  .about .about-image {
    position: relative;
  }
  .about .about-image img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    border-radius: 15px;
    display: block;
  }
  .about .about-text {
    margin-top: 10rem;
    width: 100%;
    height: auto;
    display: block;
    padding: 0rem;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  .about .about-text .about-details-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    color: var(--text-color);
    margin-bottom: var(--mb-2);
  }
  .about .about-text .about-btn {
    background-color: var(--first-color);
    color: white;
    text-decoration: none;
    width: 65%;
  }
  .about .about-text .about-btn .icon {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .about {
    height: auto;
    padding: 0rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    top: 0%;
    position: relative;
  }
  .about .about-image {
    position: relative;
  }
  .about .about-image img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    border-radius: 15px;
    display: block;
  }
  .about .about-text {
    margin-top: 10rem;
    width: 100%;
    height: auto;
    display: block;
    padding: 0rem;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  .about .about-text .about-details-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    color: var(--text-color);
    margin-bottom: var(--mb-2);
  }
  .about .about-text .about-btn {
    background-color: var(--first-color);
    color: white;
    text-decoration: none;
    width: 65%;
  }
  .about .about-text .about-btn .icon {
    margin-left: 0.5rem;
  }
}

.skills {
  padding: 0rem;
  min-height: 100vh;
  height: 135vh;
}

.skills .title {
  text-align: center;
  margin-bottom: var(--mb-3);
}

.skills .title h1 {
  font-size: var(--big-font-size);
  color: var(--title-color);
}

.skills .title small {
  color: var(--text-color);
}

.skills .skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
}

.skills .skills-grid .front-end .skills-details-header .icon {
  margin: 0;
}

.skills .skills-grid .front-end .skills-details-header .text h2 {
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

.skills .skills-grid .front-end .skills-details-header .text small {
  color: var(--text-color);
}

.skills .skills-grid .front-end .skill-bar {
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
  width: 100%;
}

.skills .skills-grid .front-end .skill-bar .skill-bar-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--mb-2);
}

.skills .skills-grid .front-end .skill-bar .skill-bar-text::after {
  content: "";
  position: absolute;
  background-color: var(--text-color-light);
  width: 100%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
}

.skills .skills-grid .front-end .skill-bar .html:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 95%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .front-end .skill-bar .css:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 90%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .front-end .skill-bar .bs:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 92%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .front-end .skill-bar .js:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 70%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .front-end .skill-bar .react:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 40%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .back-end .skills-details-header .icon {
  margin: 0;
}

.skills .skills-grid .back-end .skills-details-header .text h2 {
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

.skills .skills-grid .back-end .skills-details-header .text small {
  color: var(--text-color);
}

.skills .skills-grid .back-end .skill-bar {
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
  width: 100%;
}

.skills .skills-grid .back-end .skill-bar .skill-bar-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--mb-2);
}

.skills .skills-grid .back-end .skill-bar .skill-bar-text::after {
  content: "";
  position: absolute;
  background-color: var(--text-color-light);
  width: 100%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
}

.skills .skills-grid .back-end .skill-bar .php:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 80%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .back-end .skill-bar .ci:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 70%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .back-end .skill-bar .nj:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 30%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .back-end .skill-bar .sql:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 90%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .back-end .skill-bar .mdb:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 10%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: var(--title-color);
  padding: 0 5rem;
  width: 60%;
}

.skills .skills-grid-center .skills-details-header {
  text-align: center;
}

.skills .skills-grid-center .skills-details-header .text h2 {
  font-size: var(--h2-font-size);
}

.skills .skills-grid-center .skills-details-header .text small {
  color: var(--text-color);
}

.skills .skills-grid-center .skill-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
  height: auto;
  width: 100%;
}

.skills .skills-grid-center .skill-bar .skill-bar-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--mb-2);
}

.skills .skills-grid-center .skill-bar .skill-bar-text::after {
  content: "";
  position: absolute;
  background-color: var(--text-color-light);
  width: 100%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
}

.skills .skills-grid-center .ui:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 70%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid-center .csharp:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 75%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid-center .java:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 80%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skill-title,
.skills p {
  color: var(--title-color);
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .skills {
    height: 126vh;
    margin-bottom: 5rem;
  }
  .skills .skills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .skills .skills-grid-center {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
  .skills {
    height: 100%;
    margin-bottom: 4rem;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .skills .skills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .skills .skills-grid .front-end .skill-bar {
    padding: 0rem;
  }
  .skills .skills-grid .back-end .skill-bar {
    padding: 0rem;
  }
  .skills .skills-grid-center {
    position: relative;
    width: 100%;
    padding: 0rem;
    display: block;
  }
}

@media only screen and (max-width: 320px) {
  .skills {
    height: 100%;
    margin-bottom: 4rem;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .skills .skills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .skills .skills-grid .front-end .skill-bar {
    padding: 0rem;
  }
  .skills .skills-grid .back-end .skill-bar {
    padding: 0rem;
  }
  .skills .skills-grid-center {
    position: relative;
    width: 100%;
    padding: 0rem;
    display: block;
  }
}

.skills {
  padding: 0rem;
  min-height: 100vh;
  height: 135vh;
}

.skills .title {
  text-align: center;
  margin-bottom: var(--mb-3);
}

.skills .title h1 {
  font-size: var(--big-font-size);
  color: var(--title-color);
}

.skills .title small {
  color: var(--text-color);
}

.skills .skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
}

.skills .skills-grid .front-end .skills-details-header .icon {
  margin: 0;
}

.skills .skills-grid .front-end .skills-details-header .text h2 {
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

.skills .skills-grid .front-end .skills-details-header .text small {
  color: var(--text-color);
}

.skills .skills-grid .front-end .skill-bar {
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
  width: 100%;
}

.skills .skills-grid .front-end .skill-bar .skill-bar-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--mb-2);
}

.skills .skills-grid .front-end .skill-bar .skill-bar-text::after {
  content: "";
  position: absolute;
  background-color: var(--text-color-light);
  width: 100%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
}

.skills .skills-grid .front-end .skill-bar .html:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 95%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .front-end .skill-bar .css:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 90%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .front-end .skill-bar .bs:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 92%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .front-end .skill-bar .js:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 70%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .front-end .skill-bar .react:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 40%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .back-end .skills-details-header .icon {
  margin: 0;
}

.skills .skills-grid .back-end .skills-details-header .text h2 {
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

.skills .skills-grid .back-end .skills-details-header .text small {
  color: var(--text-color);
}

.skills .skills-grid .back-end .skill-bar {
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
  width: 100%;
}

.skills .skills-grid .back-end .skill-bar .skill-bar-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--mb-2);
}

.skills .skills-grid .back-end .skill-bar .skill-bar-text::after {
  content: "";
  position: absolute;
  background-color: var(--text-color-light);
  width: 100%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
}

.skills .skills-grid .back-end .skill-bar .php:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 80%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .back-end .skill-bar .ci:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 70%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .back-end .skill-bar .nj:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 30%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .back-end .skill-bar .sql:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 90%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid .back-end .skill-bar .mdb:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 10%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: var(--title-color);
  padding: 0 5rem;
  width: 60%;
}

.skills .skills-grid-center .skills-details-header {
  text-align: center;
}

.skills .skills-grid-center .skills-details-header .text h2 {
  font-size: var(--h2-font-size);
}

.skills .skills-grid-center .skills-details-header .text small {
  color: var(--text-color);
}

.skills .skills-grid-center .skill-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
  height: auto;
  width: 100%;
}

.skills .skills-grid-center .skill-bar .skill-bar-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--mb-2);
}

.skills .skills-grid-center .skill-bar .skill-bar-text::after {
  content: "";
  position: absolute;
  background-color: var(--text-color-light);
  width: 100%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
}

.skills .skills-grid-center .ui:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 70%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid-center .csharp:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 75%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skills-grid-center .java:before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 80%;
  height: 15px;
  top: 1.5rem;
  border-radius: 50px;
  z-index: 2;
}

.skills .skill-title,
.skills p {
  color: var(--title-color);
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .skills {
    height: 126vh;
    margin-bottom: 5rem;
  }
  .skills .skills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .skills .skills-grid-center {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
  .skills {
    height: 100%;
    margin-bottom: 4rem;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .skills .skills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .skills .skills-grid .front-end .skill-bar {
    padding: 0rem;
  }
  .skills .skills-grid .back-end .skill-bar {
    padding: 0rem;
  }
  .skills .skills-grid-center {
    position: relative;
    width: 100%;
    padding: 0rem;
    display: block;
  }
}

@media only screen and (max-width: 320px) {
  .skills {
    height: 100%;
    margin-bottom: 4rem;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .skills .skills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .skills .skills-grid .front-end .skill-bar {
    padding: 0rem;
  }
  .skills .skills-grid .back-end .skill-bar {
    padding: 0rem;
  }
  .skills .skills-grid-center {
    position: relative;
    width: 100%;
    padding: 0rem;
    display: block;
  }
}

.service-container {
  padding: 3rem;
}

.service-container .title {
  text-align: center;
  margin-bottom: var(--mb-3);
}

.service-container .title h1 {
  font-size: var(--big-font-size);
  color: var(--title-color);
}

.service-container .title small {
  color: var(--text-color);
}

.service-container .service-card {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  height: 50vh;
  grid-gap: 1rem;
  padding: 0 7rem;
}

.service-container .service-card .card {
  background-color: var(--card);
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
}

.service-container .service-card .card .icon {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-3);
  color: var(--first-color);
}

.service-container .service-card .card h3 {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  color: var(--title-color);
  font-weight: 500;
}

.service-container .service-card .card .hire-me {
  font-size: var(--normal-font-size);
  text-decoration: none;
  font-weight: var(--font-medium);
  color: var(--first-color);
}

.service-container .service-card .card .hire-me .arrow {
  font-size: var(--small-font-size);
}

@media only screen and (max-width: 768px) and (min-width: 717px) {
  .service-container {
    padding: 1rem;
  }
  .service-container .service-card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 2rem;
    height: auto;
  }
}

@media only screen and (max-width: 716px) and (min-width: 426px) {
  .service-container {
    padding: 1rem;
  }
  .service-container .service-card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 2rem;
    height: auto;
  }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
  .service-container {
    padding: 0rem;
    margin-bottom: 10rem;
  }
  .service-container .service-card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0rem;
    height: auto;
  }
}

@media only screen and (max-width: 320px) {
  .service-container {
    padding: 0rem;
    margin-bottom: 10rem;
  }
  .service-container .service-card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0rem;
    height: auto;
  }
}

.portfolio {
  height: 90vh;
  padding-top: 7rem;
  margin-bottom: 8rem;
}

.portfolio .title {
  width: 100%;
  text-align: center;
}

.portfolio .title h1 {
  color: var(--title-color);
  font-size: var(--big-font-size);
}

.portfolio .title small {
  color: var(--text-color);
}

.portfolio .swiper-container {
  height: 70vh;
  padding: 0rem 3rem;
}

.portfolio .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  padding: 3rem;
}

.portfolio .swiper-container .swiper-slide .swiper-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.portfolio .swiper-container .swiper-slide .swiper-image img {
  height: auto;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.portfolio .swiper-container .swiper-slide .swiper-text {
  padding: 2rem;
}

.portfolio .swiper-container .swiper-slide .swiper-text h2 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
  color: var(--title-color);
}

.portfolio .swiper-container .swiper-slide .swiper-text p {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-2);
}

.portfolio .swiper-container .swiper-slide .swiper-text .swiper-btn {
  background-color: var(--first-color);
  color: white;
  font-size: var(--normal-font-size);
  text-decoration: none;
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .portfolio {
    height: 84vh;
    margin-bottom: 0rem;
  }
  .portfolio .swiper-container .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60vh;
  }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
  .portfolio {
    height: auto !important;
    margin: -1rem -1rem 3rem -1rem;
    padding: 0;
    margin-bottom: 8rem;
  }
  .portfolio .title {
    margin-bottom: var(--mb-1-5);
  }
  .portfolio .swiper-container {
    height: auto;
  }
  .portfolio .swiper-container .swiper-button-next {
    position: absolute !important;
    right: 0;
  }
  .portfolio .swiper-container .swiper-button-next:after {
    font-size: 1rem !important;
  }
  .portfolio .swiper-container .swiper-button-prev {
    position: absolute !important;
    left: 0;
  }
  .portfolio .swiper-container .swiper-button-prev:after {
    font-size: 1rem !important;
  }
  .portfolio .swiper-container .swiper-slide {
    display: block;
    padding: 0;
  }
  .portfolio .swiper-container .swiper-slide .swiper-image {
    margin-bottom: var(--mb-1);
  }
  .portfolio .swiper-container .swiper-slide .swiper-text {
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 320px) {
  .portfolio {
    height: auto !important;
    margin: -1rem -1rem 3rem -1rem;
    padding: 0;
    margin-bottom: 8rem;
  }
  .portfolio .title {
    margin-bottom: var(--mb-1-5);
  }
  .portfolio .swiper-container {
    height: auto;
  }
  .portfolio .swiper-container .swiper-button-next {
    position: absolute !important;
    right: 0;
  }
  .portfolio .swiper-container .swiper-button-next:after {
    font-size: 1rem !important;
  }
  .portfolio .swiper-container .swiper-button-prev {
    position: absolute !important;
    left: 0;
  }
  .portfolio .swiper-container .swiper-button-prev:after {
    font-size: 1rem !important;
  }
  .portfolio .swiper-container .swiper-slide {
    display: block;
    padding: 0;
  }
  .portfolio .swiper-container .swiper-slide .swiper-image {
    margin-bottom: var(--mb-1);
  }
  .portfolio .swiper-container .swiper-slide .swiper-text {
    padding: 0.2rem;
  }
}

.offer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  margin-bottom: 9rem;
}

.offer-container .offer {
  background-color: var(--card-color);
  padding: 3rem;
  width: 50%;
  border-radius: 15px;
}

.offer-container .offer h2 {
  color: white;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-75);
}

.offer-container .offer p {
  font-size: var(--normal-font-size);
  color: white;
  margin-bottom: var(--mb-2);
}

.offer-container .offer .offer-btn {
  background-color: white;
  color: var(--first-color);
  font-weight: var(--font-medium);
  text-decoration: none;
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .offer-container .offer {
    width: 90%;
  }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
  .offer-container .offer {
    width: 90%;
  }
}

@media only screen and (max-width: 320px) {
  .offer-container .offer {
    width: 100%;
  }
}

.testimonials {
  width: 100%;
  height: 70vh;
  position: relative;
  margin-bottom: 7rem;
}

.testimonials .title {
  text-align: center;
}

.testimonials .title h1 {
  font-size: var(--big-font-size);
  color: var(--title-color);
}

.testimonials .title small {
  color: var(--text-color);
}

.testimonials .swiper-container {
  padding: 6rem;
  position: relative;
  height: 100%;
  width: auto;
}

.testimonials .swiper-container .testimonial-person {
  padding: 4rem;
  width: 50%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  -webkit-box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.21);
          box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.21);
  background: var(--testemonial);
}

.testimonials .swiper-container .testimonial-person .testimonial-image-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .swiper-container .testimonial-person .testimonial-image-name img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1rem;
}

.testimonials .swiper-container .testimonial-person .testimonial-image-name .name h3 {
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

.testimonials .swiper-container .testimonial-person .testimonial-image-name .name small {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.testimonials .swiper-container .testimonial-person .testimonial-p p {
  font-style: italic;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

@media only screen and (max-width: 768px) and (min-width: 668px) {
  .testimonials {
    height: auto;
  }
  .testimonials .title {
    margin-bottom: 5rem;
  }
  .testimonials .swiper-container .testimonial-person .testimonial-image-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials .swiper-container .testimonial-person .testimonial-image-name .name {
    text-align: center;
    margin-bottom: var(--mb-1);
  }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
  .testimonials {
    height: auto;
  }
  .testimonials .swiper-container {
    padding: 0;
  }
  .testimonials .swiper-container .swiper-slide {
    width: 100% !important;
  }
}

.contact {
  position: relative;
}

.contact .title {
  text-align: center;
}

.contact .title h1 {
  color: var(--title-color);
  font-size: var(--big-font-size);
}

.contact .title small {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.contact .contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.contact .contact-container .contact-details {
  padding: 5rem;
}

.contact .contact-container .contact-details .col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--mb-2-5);
}

.contact .contact-container .contact-details .col .icon {
  font-size: 2rem;
  color: var(--first-color);
}

.contact .contact-container .contact-details .col .detail h4 {
  color: var(--title-color);
}

.contact .contact-container .contact-details .col .detail p {
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

.contact .contact-container .message-me {
  position: relative;
  margin: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-container .message-me form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-container .message-me form .input-name {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-gap: 0.5rem;
}

.contact .contact-container .message-me form .message-btn {
  background-color: var(--first-color);
  color: white;
  text-decoration: none;
  width: 40%;
  text-align: center;
}

@media only screen and (max-width: 768px) and (min-width: 668px) {
  .contact .title {
    margin-bottom: var(--mb-3);
  }
  .contact .contact-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact .contact-container .contact-details {
    padding: 1rem 5rem;
  }
  .contact .contact-container .message-me {
    margin: 2rem 5rem;
  }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
  .contact .title {
    margin-bottom: var(--mb-3);
  }
  .contact .contact-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact .contact-container .contact-details {
    padding: 1rem 1rem;
  }
  .contact .contact-container .message-me {
    margin: 2rem 1rem;
  }
  .contact .contact-container .message-me .input-name {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .contact .contact-container .message-me .message-btn {
    width: 60%;
  }
}

@media only screen and (max-width: 320px) {
  .contact .title {
    margin-bottom: var(--mb-3);
  }
  .contact .contact-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact .contact-container .contact-details {
    padding: 1rem 1rem;
  }
  .contact .contact-container .message-me {
    margin: 2rem 1rem;
  }
  .contact .contact-container .message-me form .input-name {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .contact .contact-container .message-me form .message-btn {
    width: 60%;
  }
}

.footer {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50vh;
  padding: 2rem 5rem;
  background-color: var(--footer);
  z-index: 20;
}

.footer .logo h1 {
  color: white;
  font-size: var(--h1-font-size);
}

.footer .logo small {
  color: white;
  font-size: var(--small-font-size);
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .links .link {
  text-decoration: none;
  color: white;
}

.footer .social-media-links a {
  color: white;
  margin-right: 0.5rem;
}

.footer .social-media-links a .social {
  font-size: var(--h2-font-size);
}

.footer .footer-arr {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  padding-bottom: 2rem;
}

.footer .footer-arr small {
  color: white;
  font-size: 0.8rem;
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .footer {
    padding: 1rem;
  }
  .footer .links {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .footer .footer-arr {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    bottom: 0;
    padding-bottom: 0rem;
  }
  .footer .footer-arr small {
    color: white;
    font-size: 0.8rem;
    width: 100%;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */